<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT newsletter ANY>
<!ATTLIST newsletter id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Text ANY>
<!ATTLIST Text id ID #REQUIRED>
<!ELEMENT contactRequestsRepository ANY>
<!ATTLIST contactRequestsRepository id ID #REQUIRED>
<!ELEMENT contactRequest ANY>
<!ATTLIST contactRequest id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT categoriesRepository ANY>
<!ATTLIST categoriesRepository id ID #REQUIRED>
<!ELEMENT searchResult ANY>
<!ATTLIST searchResult id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1063" key="18c99287-7024-461b-9f30-0ceaec90e8ae" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-22T16:47:15" updateDate="2017-02-18T00:06:23" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1060" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1056" nodeTypeAlias="Home">
    <siteTitle><![CDATA[Travel Addiction]]></siteTitle>
    <siteDescription><![CDATA[Blog where we share our adventures traveling the world]]></siteDescription>
    <siteLogo><![CDATA[/media/1042/logo.jpg]]></siteLogo>
    <siteTagline><![CDATA[We travel not to escape life, but for life not to escape us.]]></siteTagline>
    <siteKeywords><![CDATA[travel blog, trips, city guides, travel tips, traveling]]></siteKeywords>
    <globalErrorMessage><![CDATA[Something wrong happend]]></globalErrorMessage>
    <instagramLink><![CDATA[https://www.instagram.com/traveladdictionblog]]></instagramLink>
    <pinterestLink><![CDATA[https://www.pinterest.com/]]></pinterestLink>
    <twitterLink><![CDATA[https://twitter.com/TravelAddictio1]]></twitterLink>
    <facebookLink><![CDATA[https://www.facebook.com/traveladdictionblog]]></facebookLink>
    <youtubeLink><![CDATA[http://www.youtube.com]]></youtubeLink>
    <aboutMeText><![CDATA[<p>Travelling is our passion and addiction. And we want to share it with everyone.</p>]]></aboutMeText>
    <aboutMeTitle><![CDATA[About Us]]></aboutMeTitle>
    <aboutMeImage><![CDATA[1120]]></aboutMeImage>
    <BlogPostRepository id="1075" key="4c90350c-7d96-424d-8bf2-e4b3c168e2a5" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-10-22T16:47:15" updateDate="2016-11-21T20:15:29" nodeName="Blog" urlName="blog" path="-1,1063,1075" isDoc="" nodeType="1059" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1054" nodeTypeAlias="BlogPostRepository">
      <umbracoNaviHide>1</umbracoNaviHide>
    </BlogPostRepository>
    <category id="1121" key="25d65ac2-4e02-4100-a0e2-4f09daa48ee9" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2016-11-04T14:27:12" updateDate="2016-11-26T22:16:47" nodeName="Destinations" urlName="destinations" path="-1,1063,1121" isDoc="" nodeType="1151" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1150" nodeTypeAlias="category">
      <showInMainNavigation>1</showInMainNavigation>
    </category>
    <category id="1119" key="d843efbf-b544-4267-95c9-3ede7215a8ad" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2016-11-04T12:09:07" updateDate="2016-11-26T17:12:24" nodeName="Travel Tips" urlName="travel-tips" path="-1,1063,1119" isDoc="" nodeType="1151" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1150" nodeTypeAlias="category">
      <showInMainNavigation>1</showInMainNavigation>
    </category>
    <Text id="1117" key="b99e515f-6b9d-48d4-b9fb-62f4e2260e5d" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2016-11-04T12:05:42" updateDate="2017-02-18T00:05:01" nodeName="About" urlName="about" path="-1,1063,1117" isDoc="" nodeType="1061" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1057" nodeTypeAlias="Text">
      <showInMainNavigation>1</showInMainNavigation>
      <showInFooterNavigation>0</showInFooterNavigation>
    </Text>
    <Text id="1079" key="d56b9935-1ad1-4c1b-a85f-5df2edceac35" parentID="1063" level="2" creatorID="0" sortOrder="4" createDate="2016-10-22T16:47:15" updateDate="2016-11-14T08:13:03" nodeName="Work with us" urlName="work-with-us" path="-1,1063,1079" isDoc="" nodeType="1061" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1105" nodeTypeAlias="Text">
      <showInMainNavigation>1</showInMainNavigation>
      <showInFooterNavigation>0</showInFooterNavigation>
    </Text>
    <Text id="1118" key="9a80d27f-7bbf-40d6-b507-0ed10be4552b" parentID="1063" level="2" creatorID="0" sortOrder="5" createDate="2016-11-04T12:08:51" updateDate="2016-11-15T08:07:02" nodeName="Support" urlName="support" path="-1,1063,1118" isDoc="" nodeType="1061" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1057" nodeTypeAlias="Text">
      <showInMainNavigation>0</showInMainNavigation>
      <showInFooterNavigation>1</showInFooterNavigation>
      <content><![CDATA[<p>You can support us</p>]]></content>
    </Text>
    <Text id="1122" key="b5ed1e59-af3a-45e6-a71c-f3be0359a6b9" parentID="1063" level="2" creatorID="0" sortOrder="6" createDate="2016-11-05T18:48:08" updateDate="2016-11-15T22:03:33" nodeName="404" urlName="404" path="-1,1063,1122" isDoc="" nodeType="1061" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1138" nodeTypeAlias="Text">
      <showInMainNavigation>0</showInMainNavigation>
      <showInFooterNavigation>0</showInFooterNavigation>
    </Text>
    <Text id="1139" key="a896c3b1-79ac-4483-9bb6-eafd7acaac49" parentID="1063" level="2" creatorID="0" sortOrder="7" createDate="2016-11-15T22:06:28" updateDate="2016-11-15T22:07:36" nodeName="Copyright" urlName="copyright" path="-1,1063,1139" isDoc="" nodeType="1061" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1057" nodeTypeAlias="Text">
      <showInMainNavigation>0</showInMainNavigation>
      <showInFooterNavigation>1</showInFooterNavigation>
      <content><![CDATA[<p>All the texts and photos in this blog are my property and are subject to copyright under the Law on Copyright and Related Rights.</p>
<p>No information from this blog can be used without my written consent.</p>]]></content>
    </Text>
    <category id="1155" key="001406bf-3ef8-4e60-b600-f5eeea5d245f" parentID="1063" level="2" creatorID="0" sortOrder="9" createDate="2016-11-21T20:53:12" updateDate="2016-11-21T21:57:00" nodeName="Finland" urlName="finland" path="-1,1063,1155" isDoc="" nodeType="1151" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1150" nodeTypeAlias="category" />
    <category id="1156" key="64eab4b3-df25-4ee4-be00-b91e6ca96f16" parentID="1063" level="2" creatorID="0" sortOrder="10" createDate="2016-11-21T20:54:24" updateDate="2016-11-21T21:57:14" nodeName="Hungary" urlName="hungary" path="-1,1063,1156" isDoc="" nodeType="1151" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1150" nodeTypeAlias="category" />
    <category id="1157" key="5e0f5325-475d-4fad-aecd-2a01102f9b52" parentID="1063" level="2" creatorID="0" sortOrder="11" createDate="2016-11-21T20:54:40" updateDate="2016-11-21T21:57:56" nodeName="Bulgaria" urlName="bulgaria" path="-1,1063,1157" isDoc="" nodeType="1151" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1150" nodeTypeAlias="category" />
    <category id="1158" key="e77f5819-c93d-4ae4-aa5e-3a25365e61e7" parentID="1063" level="2" creatorID="0" sortOrder="12" createDate="2016-11-21T20:54:49" updateDate="2016-11-21T21:58:16" nodeName="Serbia" urlName="serbia" path="-1,1063,1158" isDoc="" nodeType="1151" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1150" nodeTypeAlias="category" />
    <searchResult id="1189" key="2d8ec88e-301f-4c9c-97b8-f57fa5070092" parentID="1063" level="2" creatorID="0" sortOrder="13" createDate="2016-11-22T21:26:41" updateDate="2016-11-22T21:26:41" nodeName="Search" urlName="search" path="-1,1063,1189" isDoc="" nodeType="1188" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1187" nodeTypeAlias="searchResult" />
    <sitemap id="1194" key="6c738369-d640-444f-bce9-7a7e82f4f9aa" parentID="1063" level="2" creatorID="0" sortOrder="14" createDate="2016-11-26T12:24:17" updateDate="2016-11-26T12:24:17" nodeName="Sitemap" urlName="sitemap" path="-1,1063,1194" isDoc="" nodeType="1193" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="1192" nodeTypeAlias="sitemap">
      <hideInXmlSitemap>1</hideInXmlSitemap>
    </sitemap>
    <newsletter id="1202" key="eb940915-b819-4da0-b7f5-76ee05854b4d" parentID="1063" level="2" creatorID="0" sortOrder="15" createDate="2016-11-26T16:16:14" updateDate="2016-11-26T16:42:37" nodeName="Newsletter" urlName="newsletter" path="-1,1063,1202" isDoc="" nodeType="1201" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="0" nodeTypeAlias="newsletter">
      <theEmailAlreadyExistsErrorMessage><![CDATA[This email already exists]]></theEmailAlreadyExistsErrorMessage>
      <successfullSubscriptionMessage><![CDATA[Thank you, your sign-up request was successful!]]></successfullSubscriptionMessage>
      <hideInXmlSitemap>1</hideInXmlSitemap>
      <subscribers><![CDATA[,tvetan@gbg.bg,admin@traveladdiction.net]]></subscribers>
    </newsletter>
  </Home>
  <contactRequestsRepository id="1108" key="86b75267-52fa-4ee8-9f39-a39730d970b8" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-11-02T21:35:06" updateDate="2016-11-03T20:34:47" nodeName="Contact Requests Repository" urlName="contact-requests-repository" path="-1,1108" isDoc="" nodeType="1106" creatorName="Tsvetan" writerName="Tsvetan" writerID="0" template="0" nodeTypeAlias="contactRequestsRepository" />
</root>