@inherits UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
}

<div class="container main-content-area">
    <div class="row">
        @{
            Html.RenderPartial("~/Views/Partials/_ContactForm.cshtml", new TravelBlog.Models.ContactRequestModel());
        }

    </div>
</div>