@inherits UmbracoTemplatePage
@using System.Web.Optimization
@{
    Layout = null;
    var homePageModel = Model.Content.AncestorOrSelf(1);
    var tagline = homePageModel.GetPropertyValue("siteTagline").ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    @{ Html.RenderPartial("_Head"); }
</head>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage">

    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.8&appId=196847964056366";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- Google Tag Manager (noscript) -->
    @*<noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCJZC4G"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>*@
    <!-- End Google Tag Manager (noscript) -->
    <header id="masthead" class="site-header" role="banner">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    @{ Html.RenderPartial("MainNavigation"); }
                </div>
            </div>
        </nav><!-- .site-navigation -->

    </header>

    <div id="content" class="site-content">
        @{ Html.RenderPartial("_Messages"); }

        <div class="container">
            <div id="logo">
                <h1 class="site-name">
                    <a class="navbar-brand" href="/" title="Travel Addiction" rel="home">
                        Travel Addiction
                    </a>
                </h1><!-- end of .site-name -->

                <div class="tagline">@tagline</div>
            </div>
            <div id="line"></div>
        </div>
        @RenderBody()
    </div>

    <div id="footer-area">
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <div class="row">
                    <div class="copyright col-md-12">
                        @{ Html.RenderPartial("BottomNavigation"); }
                    </div>
                </div>
            </div><!-- .site-info -->
            <div class="scroll-to-top" style="display: block;"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
        </footer><!-- #colophon -->
    </div>

    @Scripts.Render("~/bundles/scripts")
</body>
</html>