@inherits UmbracoTemplatePage
@{
    Layout = null;
    var homePageModel = Model.Content.AncestorOrSelf(1);
    var tagline = homePageModel.GetPropertyValue("siteTagline").ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    @{ Html.RenderPartial("_Head"); }
</head>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <header id="masthead" class="site-header" role="banner">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    @{ Html.RenderPartial("MainNavigation"); }
                </div>
            </div>
        </nav><!-- .site-navigation -->

    </header>

    <div id="content" class="site-content">
        @{ Html.RenderPartial("_Messages"); }
        <div id="logo">
            <h1 class="site-name">
                <a class="navbar-brand" href="/" title="Travel Addiction" rel="home">
                    Travel Addiction
                </a>
            </h1><!-- end of .site-name -->

            <div class="tagline">@tagline</div>
        </div>
        <div id="line"></div>
        @RenderBody()
    </div>

    <div id="footer-area">
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <div class="row">
                    <div class="copyright col-md-12">
                        @{ Html.RenderPartial("BottomNavigation"); }
                    </div>
                </div>
            </div><!-- .site-info -->
            <div class="scroll-to-top" style="display: block;"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
        </footer><!-- #colophon -->
    </div>

    <!-- Javascripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/skip-link-focus-fix.js"></script>
    <script src="/js/flexslider.min.js"></script>

    
    <script src="/js/functions.min.js"></script>
</body>
</html>