@inherits UmbracoTemplatePage<ContentModels.SearchResult>
@using ContentModels = Umbraco.Web.PublishedContentModels

@{
    Layout = "Master.cshtml";
    var result = TempData["SearchResult"] as IEnumerable<BlogPostModel>;
    var searchText = TempData["SearchedText"] == null ? string.Empty : TempData["SearchedText"];
}

<div class="container main-content-area">
    <div class="row">
        <div class="main-content-inner col-sm-12 col-md-8 side-right">

            <section id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <header class="page-header">
                        <h1 class="page-title">Search Results for: <span>@searchText</span></h1>
                    </header><!-- .page-header -->
                    @if (result != null && result.Count() > 0)
                    {
                        <div class="page-content">
                            @foreach (var post in result)
                            {
                                Html.RenderPartial("_Post", post);
                            }
                        </div>
                    }
                    else
                    {
                        <section class="no-results not-found">
                            <header class="page-header page-header">
                                <h1 class="page-title">Nothing Found</h1>
                            </header>

                            <div class="page-content">
                                @{ Html.RenderPartial("_SearchFormEmptySearchResult",
                                                new SimpleSearchModel() { SearchedText = searchText.ToString() });}
                            </div>
                        </section>
                    }
                </main><!-- #main -->
            </section><!-- #primary -->
        </div>

        @{ Html.RenderPartial("_Sidebar"); }

    </div><!-- close .*-inner (main-content or sidebar, depending if sidebar is used) -->
</div>
