@using TravelBlog.Models
@inherits UmbracoViewPage<TextModel>
@{
    Layout = "Master.cshtml";
}

<div class="container main-content-area page">
    <div class="row">
        <div class="main-content-inner col-sm-12 col-md-8 side-right">

            <div id="primary" class="content-area">

                <main id="main" class="site-main" role="main">

                    <div class="post-inner-content">
                        <article id="post-146" class="post-146 page type-page status-publish hentry">
                            <header class="entry-header page-header">
                                <h1 class="entry-title">@Model.Title</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                @Html.Raw(Model.Content)
                            </div><!-- .entry-content -->
                        </article><!-- #post-## -->
                    </div>


                </main><!-- #main -->
            </div><!-- #primary -->

        </div>

        @{ Html.RenderPartial("_Sidebar"); }
    </div>
</div>