@if (TempData["Success"] != null)
{
    <div class="notification-success">
         
            @Html.Raw(TempData["Success"])
         
        <a class="close" href="#"></a>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="notification-error">
      
            @Html.Raw(TempData["Error"])
        
        <a class="close" href="#"></a>
    </div>
}